<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

<div class="card h-auto">
    <div class="card-body">
        <app-error-display [errors]="errors"></app-error-display>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

            <div class="form-group">
                <label for="selectedProducts">Selected Products:</label>
                <div *ngFor="let selectedProduct of form.get('products')?.value">
                    {{ selectedProduct.name }}
                </div>
                <button type="button" class="btn btn-primary" (click)="openProductModal()">Select Products</button>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary me-1">{{buttonText}}</button>
                    <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
                </div>
            </div>
            <!--end row-->
        </form>
        <hr>
        <a class="btn btn-light waves-effect waves-light " (click)="back()">Back</a>
   
