
<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

<div class="card h-auto">
    <div class="card-body">
        <app-error-display [errors]="errors"></app-error-display>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group">
                <label for="selectedOrderItems">Selected Order Items:</label>
                <div *ngFor="let selectedOrderItem of form.get('orderItems')?.value">
                    {{ selectedOrderItem }}
                </div>
                <button type="button" class="btn btn-primary" (click)="openOrderItemModal()">Select Products</button>
            </div>

            <div class="col-md-6 mb-2">
                <!-- Input field for category -->
                <label for="customer" class="form-label">Customer</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Select customer" formControlName="customer"
                        readonly>
                    <button class="btn btn-outline-secondary" type="button" (click)="openCustomerModal()">
                        Select Customer
                    </button>
                </div>
                <div ngxErrors="customer">
                    <div ngxError="required">Customer is required</div>
                </div>
            </div>
        

  
        

            
    
      
               

    

 

     
            
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary me-1">{{buttonText}}</button>
                    <button type="reset" (click)="onCancel()" class="btn btn-danger me-1">Cancel</button>
                </div>
            </div>
            <!--end row-->
        </form>
        <hr>
        <a class="btn btn-light waves-effect waves-light " (click)="back()">Back</a>
    </div>
</div>

