
<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

<div class="card h-auto">
    <div class="card-body">
        <app-error-display [errors]="errors"></app-error-display>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

            <div class="col-md-6 mb-2">
                <!-- Input field for category -->
                <label for="customer" class="form-label">Customer</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Select customer" formControlName="customerId"
                        readonly>
                    <button class="btn btn-outline-primary" type="button" (click)="openCustomerModal()">
                        Select Customer
                    </button>
                </div>
                <div ngxErrors="customer">
                    <div ngxError="required">Customer is required</div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" (click)="openOrderItemModal()">Add Order Item</button>

            <!-- Display order items -->
         
<!-- Display order items in a table -->
<table class="table">
    <thead>
      <tr>
        <th>Label</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Subtotal</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orderItem of orderItems; let i = index">
        <td>{{ orderItem.label }}</td>
        <td>{{ orderItem.quantity }}</td>
        <td>{{ orderItem.unitPrice }}</td>
        <td>{{ orderItem.subTotal }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="removeOrderItem(i)">Remove</button>
        </td>
        
      </tr>
    </tbody>
  </table>
  <div>Total: {{total }}</div>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary me-1">{{buttonText}}</button>
                    <button type="reset" (click)="onCancel()" class="btn btn-danger me-1">Cancel</button>
                </div>
            </div>
            <!--end row-->
        </form>
        <hr>
        <a class="btn btn-light waves-effect waves-light " (click)="back()">Back</a>
    </div>
</div>

