

<!-- home.component.html -->

<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center mt-5">
        <h1>Welcome to the Purchase Application</h1>
        <p class="lead">Manage your purchases efficiently with our application</p>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-4 offset-md-2 text-center">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">View Orders</h2>
            <p class="card-text">View and manage your purchase orders</p>
            <a routerLink="order" class="btn btn-success">Go to Orders</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Create New Order</h2>
            <p class="card-text">Create a new purchase order</p>
            <a routerLink="order" class="btn btn-success">Create Order</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 offset-md-2 text-center">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">View Taxes</h2>
              <p class="card-text">View and manage your taxes</p>
              <a routerLink="tax" class="btn btn-success">Go to Taxes</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Create New Category</h2>
              <p class="card-text">Create a new category</p>
              <a routerLink="category" class="btn btn-success">Create Category</a>
            </div>
          </div>
        </div>
      </div>
  
    <div class="row mt-5">
      <div class="col-md-4 offset-md-2 text-center">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">View Products</h2>
            <p class="card-text">Browse through available products</p>
            <a routerLink="product" class="btn btn-success">Go to Products</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Manage Customers</h2>
            <p class="card-text">Manage your customer base</p>
            <a routerLink="customer" class="btn btn-success">Go to Customers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  